{% extends '../base.html' %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">

                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    {{ form.username.errors }}

            </div>
            <div class="form-group">

                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    {{ form.password }}
                    {{ form.password.errors }}
            </div>

            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit">Login</button>
    </form>
{% endblock %}
