include LICENSE.txt
include README.md
recursive-include kepi *.py
recursive-include kepi *.xml
recursive-include kepi *.html
recursive-include docs *.md
recursive-include docs *.svg
recursive-include docs *.png
recursive-include docs *.jpg
