setuptools
wheel
django
requests
requests-http-signature
cryptography
pillow
celery>4.0.0
django-celery
httpretty
httpsig
django-celery-results
django-polymorphic
python-mimeparse
gunicorn
django-markdown
oauth2-provider
django-cors-headers
django-oauth-toolkit
django-rest-framework
djangorestframework-xml
djangorestframework-constant-field
djangorestframework-recursive
django-fields
anyjson
PyCryptodome
