<ul class="navbar-nav ml-auto">
        <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
                <a class="nav-link" href="/home">&#x1f452;{{ user.username }}</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
</ul>

