<!DOCTYPE html>
<html>
        <head>
                <title>Kepi is installed</title>
        </head>
        <body>
                <p>
                If you can see this message,
                Kepi is installed correctly.
                </p>

                <p>
                I appreciate that this message is not particularly
                interesting or helpful. This will change in
                later releases.
                </p>

                <p>
                You might like to visit <a href="admin/">the admin console</a>
                now, to set things up.
                </p>

                <p>
                Love and hugs.
                </p>
        </body>
</html>
